<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoeSearcher</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Search Archive</h1>
    <form id="searchForm">
        <input type="text" name="query" placeholder="Enter search text" required>
        <div>
            <label class="archive-option">
                <input type="checkbox" name="archives" value="0"> Desuarchive
            </label>
            <label class="archive-option">
                <input type="checkbox" name="archives" value="1"> Palanq
            </label>
            <label class="archive-option">
                <input type="checkbox" name="archives" value="2"> Moe
            </label>
            <label class="archive-option">
                <input type="checkbox" name="archives" value="3"> 4plebs
            </label>
            <label class="archive-option">
                <input type="checkbox" name="archives" value="4"> b4k
            </label>
        </div>
        <button type="submit">Search</button>
    </form>
    <div id="results"></div>
    <script src="static/frontend.js"></script>
</body>
</html>
